version: '3.8'
services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
    environment:
      - APP_ENV=local
      - DB_CONNECTION=sqlite
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: medkm
    ports:
      - "33061:3306"
    volumes:
      - dbdata:/var/lib/mysql
volumes:
  dbdata:
